{{!-- includes/side-components/sid-service-menu-02.hbs --}}
{{!-- Side Services, Services Menu --}}
<div class="sid-service-menu">
<aside class="services">
<header class="rice">
<h5 class="no-margin"><strong>Communication Services:</strong></h5>
</header>
<div class="colcontain">
<div class="columns02b sidnavcol gra-gradi">
<ul class="list-archives">
<li><a href="product-design.html">Product Design</a></li>
<li><a href="information-architecture.html">Information Architecture</a></li>
</ul>
</div>

<div class="columns02b sidnavcol gra-gradi">
<ul class="list-archives">
<li><a href="user-experience.html">User Experience</a></li>
<li><a href="front-end-development.html">Front-end Development</a></li>
</ul></div>
</div><!-- END colcontain -->
</aside>
</div><!-- END sid-service-menu -->
