// Theme Information    032424 // 110920
//--------------------------------------------//
$theme_name: "cwebba";
$theme_uri: "http://blog.craigwebbart.com";
$theme_author: "Craig Webb";
$theme_author_uri: "http://craigwebbart.com";
$theme_description: "Custom theme for Craig Webb Art";
$theme_version: "3.0";
$theme_license: "Copyright 2024, 2020, 2016 Craig Webb Art";
$theme_tags: "post-formats";
$text_domain: "cwebba";
