{{!-- includes/side-components/sid-service-menu.hbs --}}
{{!-- Side Services, Services Menu --}}
<div class="sid-service-menu">
<aside class="services">
<header class="rice">
<h5 class="no-margin"><strong>Communication Services:</strong></h5>
</header>
<div class="colcontain">
<div class="columns02 sidnavcol gra-gradi">
<ul class="list-archives">
<li><a href="creative-consulting.html">Creative Consulting</a></li>
<li><a href="content-development.html">Content Development</a></li>
<li><a href="graphic-design.html">Graphic Design</a></li>
</ul>
</div>

<div class="columns02 sidnavcol gra-gradi">
<ul class="list-archives">
<li><a href="advertising.html">Advertising</a></li>
<li><a href="information-marketing.html">Information Marketing</a></li>
<li><a href="brand-identity.html">Brand Identity</a></li>
</ul></div>
</div><!-- END colcontain -->
</aside>
</div><!-- END sid-service-menu -->
