{{!-- includes/side-components/wide-move.hbs --}}
{{!-- Left Sidebar Top Links --}}
<section class="wide-move">
<h4>Craig Webb Art</h4>
<p>Communications that&nbsp;move consumers.</p>
<nav><ul class="wide-navserv">
<li><div><a href="user-experience.htm">User Experience</a></div></li>
<li><div><a href="cwebba_wireframes.htm">Wireframe Mockups and lots of other stuff</a></div></li>
<li><div><a href="cwebba_prototypes.htm">Live Prototypes</a></div></li>
<li><div><a href="cwebba_javascripts.htm">JavaScripts</a></div></li>
<li><div><a href="cwebba_ux-case_contact.htm">Contact Case Study</a></div></li>
</ul>
</nav>
</section><!-- END wide-move -->