{{!-- includes/blockquote-workbook.hbs --}}
    {{!--  This is a combined template for blockquoate + workbook for Prototype Theater, Base 5. --}}
<div class="div5">
<blockquote class="big"><strong>Craig Webb Art</strong> provides user experience and user interface design including information architecture and front-end development.</blockquote>
</div><!-- END div 5 -->

<div class="div7"> 
                <nav class="workbook">
                <ul><li><h5><a href="graphic-design.html">Graphic Design</a></h5>
                <p class="p14">Visual design solutions that rock across media</p>
                </li><li><h5><a href="written-content.html">Copywriting</a></h5>
                <p class="p14">Compelling messages that grab attention and tell great stories</p>
                </li><li class="last">
                <h5><a href="web-design.html">Internet Design</a></h5>
                <p class="p14">Clear clean communications</p>
                </li></ul>
                </nav>
</div><!-- END div7 -->
