{{!-- includes/creative-consulting-nav.hbs --}}
    {{!--  This is the template for creative-consulting navigation for Prototype Theater, Base 5. --}}
<section class="div6"><!-- bottom side nav -->
  <nav class="prototype-creative">
      <h4>Creative Consulting</h4>
    <ul>
      <li><div><a href="content-development.html">Content Development</a></div></li>
      <li><div><a href="advertising-and-marketing.html">Advertising &amp; Marketing</a></div></li>
      <li><div><a href="art-and-design.html">Art &amp; Design</a></div></li>
    </ul>
  </nav>  
  <nav class="prototype-development">
    <h4>Front-end Development</h4>
    <ul class="columns03">
      <li><div><a href="product-design.html">Product Design</a></li>
      <li><div><a href="ux-ui-design.html">UX / UI Design</a></li>
      <li><div><a href="information-architecture.html">Information Architecture</a></li>
      <li><div><a href="comps-and-wireframes.html">Comps and Wireframes</a></li>
      <li><div><a href="live-prototypes.html">Live Prototypes</a></li>
      <li><div><a href="interaction-design.html">Interaction Design</a></li>
    </ul>
  </nav>
</section><!-- END div 6 bottom side nav -->