{{!-- includes/footer.hbs --}}
  <nav class="footstep">
  	<ul class="footsy">
		<li><a href="advertising.html">Advertising</a></li>
		<li><a href="brand-identity.html">Brand&nbsp;Identity</a></li>
		<li><a href="graphic-design.html">Graphic&nbsp;Design</a></li>
		<li><a href="marketing.html">Marketing</a></li>
	</ul>
  </nav>
    <div class="context">
    	<h4>Craig Webb Art<h4>
        <p>Communications that&nbsp;move&nbsp;consumers.</p>
        <p class="concept">Creative concepts, copywriting and&nbsp;design</p>
    </div>
   	<nav class="socialnav">
     <ul class="socialmedia">
      <a href="https://angel.co/craig-webb-1 target="_ ""><i class="icon icon-angellist">Angellist Icon</i></a>
      <a href="https://codepen.io/cwebba1/ target="_ ""><i class="icon icon-codepen">Codepen Icon</i></a>
      <a href="https://github.com/cwebba1" target="_ "><i class="icon icon-github">Github Icon</i></a>
      <a href="https://www.linkedin.com/in/craigwebbart/" target="_ "><i class="icon icon-linkedin">LinkedIn Icon</i></a>
      <a href="https://twitter.com/cwebba1" target="_ "><i class="icon icon-twitter">Twitter Icon</i></a>
      <a href="https://www.instagram.com/cwebba1/" target="_ "><i class="icon icon-instagram">Instagram Icon</i></a>
      <a href="https://www.flickr.com/photos/cwebba" target="_ "><i class="icon icon-flickr">Flickr Icon</i></a>
    </ul>
    </nav>
    <aside class="join">
    	<a href="#" id="modalBtn">Join Our Mailing List</a>
    </aside>
