{{!-- includes/footer-03.hbs --}}
<div class="grid-wrapper">
    <div class="context">
    	<h4>Craig Webb Art<h4>
        <p>Communications that&nbsp;move&nbsp;consumers.</p>
        <p class="concept">Creative concepts, copywriting and&nbsp;design</p>
    </div>
   	<nav class="socialnav">
    {{#> socialnav-block }}
      {{!-- inline content will go here. --}}
        {{> includes/socialnav }}
    {{/socialnav-block }}
    </nav>
    <aside class="join">
    	<a href="#" id="modalBtn">Join Our Mailing List</a>
    </aside>
</div>