{{!-- includes/header.hbs --}}

<figure class="logo">
<a href="http://www.craigwebbart.com"><img src="assets/images/cwebba_logo5.svg" />
</a>
</figure>
    {{#> rail-block}}
      {{!-- Right-rail content goes here. --}}
    {{/rail-block}}
<nav class="topnav">
<ul class="top">
<li><a href="index.html">About</a></li>
<li><a href="services.htm">Services</a></li>

<li class="drop current"><a href="portfolio.htm">Work</a>
<!--[if IE 7]><!--></a><!--<![endif]-->
<!--[if lte IE 6]><table><tr><td><![endif]-->

<ul><!-- Projects Sub Menu -->
<li><a href="work_artdirection.htm">Graphic Design</a></li>
<li><a href="work_written_content.htm">Copywriting<!--[if IE 7]><!--></a><!--<![endif]-->
<!--[if lte IE 6]><table><tr><td><![endif]-->
<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>
<li><a href="work_web.htm">Internet Design</a></li>
</ul>
<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>

<li><a href="news.htm">News</a></li>
<li><a href="http://blog.craigwebbart.com/" target="_ ">Blog</a></li>
<li><a href="contact.htm">Contact</a></li>
<li><a href="links.htm">Links</a></li> 
</ul>
</nav>