{{!-- includes/header-02.hbs --}}

<figure class="logo">
<a href="http://www.craigwebbart.com"><img src="assets/images/cwebba_logo5.svg" alt="logo"/>
</a>
</figure>
    {{#> rail-block}}
      {{!-- Right-rail content goes here. --}}
    {{/rail-block}}
<nav class="topnav">
<ul class="top">
<li><a href="services.html">Services</a></li>

<li class="drop current"><a href="portfolio.html">Work</a>
	<ul><!-- Work Sub Menu -->
		<li><a href="graphic-design.html">Graphic Design</a></li>
		<li><a href="written-content.html">Copywriting</a></li>
		<li><a href="web-design.html">Internet Design</a></li>
	</ul>
</li>

<li><a href="http://blog.craigwebbart.com/" target="_ ">Blog</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>
</nav>