{{!-- includes/left-sidebar.hbs --}}
{{!-- Left Sidebar --}}
{{!--  SIDE NAV HERE --}}
<div class="wide-sidnav">
      {{#> wide-move-block}}
    {{> includes/side-components/wide-move }}
      {{/wide-move-block}}

      {{#> me-menu-block}}
    {{> includes/side-components/wide-services-me-menu }}
      {{/me-menu-block}}

      {{#> sid-service-block}}
    {{> includes/side-components/sid-service-menu }}
      {{/sid-service-block}}
</div><!-- END wide-sidnav -->