{{!-- includes/left-sidebar-04.hbs --}}
{{!-- Left Sidebar --}}
{{!--  SIDE NAV HERE --}}
<div class="sidebar">
      {{#> tagline-block}}
    {{> includes/side-components-03/tagline }}
      {{/tagline-block}}

      {{#> prototype-block}}
   {{> includes/side-components-04/sid-prototype }}
      {{/prototype-block}}
      

      {{#> design-block}}
   {{> includes/side-components-04/sid-design }}
      {{/design-block}}
</div><!-- END sidebar -->
