{{!-- includes/left-sidebar-03.hbs --}}
{{!-- Left Sidebar --}}
{{!--  SIDE NAV HERE --}}
<div class="sidebar">
      {{#> tagline-block}}
    {{> includes/side-components-03/tagline }}
      {{/tagline-block}}

      {{#> creative-block}}
    {{> includes/side-components-03/sid-creative }}
      {{/creative-block}}

	  {{#> development-block}}
    {{> includes/side-components-03/sid-development }}
      {{/development-block}}
</div><!-- END sidebar -->
