{{!-- includes/left-sidebar-02.hbs --}}
{{!-- Left Sidebar --}}
{{!--  SIDE NAV HERE --}}
<div class="wide-sidnav">
      {{#> creative-dev-block}}
    {{> includes/side-components-02/creative-development-nav }}
      {{/creative-dev-block}}

      {{#> me-menu-block}}
    {{> includes/side-components-02/wide-services-me-menu }}
      {{/me-menu-block}}

	  {{#> sid-service-block}}
    {{> includes/side-components-02/sid-service-menu }}
      {{/sid-service-block}}
</div><!-- END wide-sidnav -->