{{!-- includes/protolist.hbs --}}

      {{!-- inline content will go here. --}}
<p>Kindness in words creates confidence. Kindness in thinking creates profoundness. Kindness in giving creates love. <br>
~ Lao Tzu</p>
