{{!-- includes/prototypes-theater.hbs --}}
<article class="div4"><!-- Wide-content -->
        {{!-- - - - - - - - [ START Prototypes Theater HERE  ] - - - - - - - - --}} 
        {{!--      ##HERE!!!   --}}
<div id="description-box"></div>
<iframe src="{{first-link}}" id="page" name="page" sandbox="allow-same-origin allow-scripts"></iframe>
  <!--</div> END div class="content" -->
</article><!-- END div 4 Wide Content -->
