{{!-- includes/rail.hbs --}}

<section class="rightrail">
<figure class="cswnavpic">
  <img src="{{rail-src}}" alt="{{rail-alt}}" width="{{rail-width}}" height="{{rail-height}}" />
</figure>
</section>
