{{!-- includes/socialnav.hbs --}}
     <ul class="socialmedia">
      <a href="https://angel.co/craig-webb-1" target="_ "><i class="icon icon-angellist">Angellist Icon</i></a>
      <a href="https://codepen.io/cwebba1/" target="_ "><i class="icon icon-codepen">Codepen Icon</i></a>
      <a href="https://github.com/cwebba1" target="_ "><i class="icon icon-github">Github Icon</i></a>
      <a href="https://www.linkedin.com/in/craigwebbart/" target="_ "><i class="icon icon-linkedin">LinkedIn Icon</i></a>
      <a href="https://twitter.com/cwebba1" target="_ "><i class="icon icon-twitter">Twitter Icon</i></a>
      <a href="https://www.instagram.com/cwebba1/" target="_ "><i class="icon icon-instagram">Instagram Icon</i></a>
{{!--  <!-- <a href="https://www.flickr.com/photos/cwebba" target="_ "><i class="icon icon-flickr">Flickr Icon</i></a> --> --}}
    </ul>
