{{!-- includes/tagline-header.hbs --}}
        {{!-- Template for tagline + Page Header for Prototype Theater, Base 5. --}}
        {{!-- Add Page Title on each page. --}}
  <section class="tagline div1">
    <h4>Craig Webb Art</h4>
    <p>Communications that move&nbsp;consumers.</p>
    </section><!-- END div1 -->
<section class="divB">
  <h2 class="section-header">{{page-title}}</h2>
</section><!-- END divB -->
