{{!-- includes/workbook-nav-home.hbs --}}
{{!--  120720 --}}
<nav class="workbook-home">
<ul>
  <li>
   <figure class="workbook-icon graphics-icon">
	<img src="../assets/images/heropics/Saturn_Returns.jpg" alt="Saturn Returns">
</figure>
	<div class="textbox">
	   <h5><a href="graphic-design.html">Graphic Design</a></h5>
	   <p class="p14">Visual design solutions that rock across media</p>
   </div>
</li><li>
		<figure class="workbook-icon copywriting-icon">
	<img src="../assets/images/heropics/Honda_LeaveBehind_pg06.jpg" alt="Page from Honda Leave-behind book">

</figure>
	<div class="textbox">
<h5><a href="written-content.html">Copywriting</a></h5>
<p class="p14">Compelling messages that grab attention and tell great stories</p>
   </div>
</li><li class="last">
		<figure class="workbook-icon webdesign-icon">
	<img src="../assets/images/heropics/craig-webb_superhero.png" alt="Spiderman Superhero marketing email">
</figure>
	<div class="textbox">
<h5><a href="web-design.html">Internet Design</a></h5>
<p class="p14">Clear clean communications</p>
   </div>
</li></ul>
</nav>
