/** Webblog Cwebba Theme _base.scss 040624, 110920 */
/* See prototype 032424 @ Starter-Gulp-SASS-2023 */
/* 090316 Cwebba_WP base.scss with styles from CWebba07 base.css */
/* Previous: 061415 Cwebba Theme from 062914, 061415 CSS */


/* This Normalize Reset conflicts with Fancybox.
html {
    overflow: scroll;
}*/

/* ============  [    Base ]   ============= */

  * { 
box-sizing: border-box;
}

.unborderbox { box-sizing: content-box;
}

html {
  font-family : var(--bod-ft), 'Open Sans', 'source-sans-pro', 'Helvetica Neue', 'Frutiger', "Myriad Pro", Arial, Helvetica, var(--system-ui), sans-serif;
  font-size: 100%;
  font-size: 1em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 2;
  min-height: 100%;
  text-rendering: optimizeLegibility;}

html:focus-within {
  scroll-behavior: smooth;
}  

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body, nav, ul, li, a  {
  margin: 0; padding: 0;
}

.pagination {
  display:flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items:center;
  width:96%;
  margin:1em auto 0;
  }
  
  .pagination a {
  font-size:106%;
  padding:0.125em 0.5em;
  border:1px solid #EBEAEC;
  border-radius:0.25em;
  background:#FDFDFD;
  }
  
  .pagination span.current {
  font-size:106%;
  padding:0.125em 0.5em;
  border:1px solid #EBEAEC;
  border-radius:0.25em;
  background:#DFDFDF;
  background:rgba(148, 209, 179, 0.3);
  }


body {
  font-family: var(--bod-ft); 
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  color: hsl(27, 100%, 7%);
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  line-height: 1.5;
  transition: all 0.5s ease-in;
  background: var(--old-yeller);
  background: url("../assets/images/oj_emboss.png");
}



/*-  SELF-CLEARING FLOATS
----------------------------------------------------------------------*/

header:after, nav:after, article:after, aside:after, footer:after, hgroup:after, section:after, .logo:after, figure:after, .page:after { 
  content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}

.clearfix {display:block;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;
clear:both;visibility:hidden;
overflow:hidden;
}
.clear {clear:both;
}

.clear2 { 
height:0;clear:both;visibility:hidden;overflow:hidden;
line-height:0;
}


/* Page is a class used by WordPress.*/
.basal {
width: 97.5%;
margin: 0 auto;
padding: 0;
background:#FFF;
transition:width .25s ease-in; 
}

/* these styles added from cwebba08c - experimental */
/*.basal {  – BREAKS LAYOUT
  display:flex;
  flex-direction:column;
  height:100%;
  background:rgba(253, 254, 251, 0.8);
}*/

.cask {
padding-left: 1.375em;
padding-right: 1.375em;
}

.row {
width: 100%;
/*max-width: 1140px;*/
margin: 0 auto;
overflow: hidden;
}

/* formatting of elements */

/*! TYPOGRAPHY */

p {
font-family:var(--bod-ft), 'Open Sans';
/*font-weight: normal;*/
font-weight:400;
font-size: 1.125rem;
line-height: 1.5em;
margin: 0 0 .5em 0;
}

p:last-of-type { 
margin-bottom:1.5em;
}

/*
3/16 = 0.1875
0.375
9/16 = 0.5625
10/16 = 0.625
11/16 = 0.6875
12/16 = 0.75
13/16 = 0.8125
14/16 = 0.875
15/16 = 0.9375
6/16 = 0.375
18/16 = 1.125
19/16 = 1.1875
20/16 = 1.25
*/

.p6 { font-size:0.375em;
line-height:1em;
}

.p8 { font-size:0.5em;
line-height:1em;
}

.p9 {font-size:.5625em;
line-height: 1.5em;
margin: 0 0 2.15em 0;
}

.p10 {font-size:.625em;
line-height: 1.5em;
margin: 0 0 1.75em 0;
}

.p11 {font-size:.6875em;
line-height: 1.5em;
margin: 0 0 1.375em 0;
}

.p12 {font-size:.75em;
line-height: 1.5em;
margin: .75em 0 .75em 0;
}

.p13 {font-size:.8125em;
line-height: 1.6875em;
margin: 0.65625em 0 0.65625em 0;
}

.p14 {font-size:.875em;
line-height: 1.5em;
margin: .625em 0 1em 0;
}

.p14b {font-size:.875em;
line-height: 1.5em;
margin: 0;
}

.p15 {font-size:.9375em;
line-height: 1.5em;
margin: 0 0 0.625em 0;
}

.p18 {font-size:1.125em;
line-height: 1.375em;
margin: 0 0 0.458333333333333em 0;
}

.p19 {font-size:1.1875em;
line-height: 1.1875em;
margin: 0 0 0.625em 0;
}

.p20 {font-size:1.25em;
line-height: 1.25em;
margin: 0 0 0.416666666666667em 0;
}

.p24 {font-size:1.5em;
line-height: 2.25em;
margin: .25em 0 1.5em 0;
float:right;
text-align:right;
}

/*! LINKS */

a { 
color: #004477;
color:hsla(206, 100%, 23%, 1);
color: var(--midnight-blue);
font-size: inherit;
line-height: inherit;
text-decoration: none;
vertical-align:baseline; 
margin:0; 
padding:0; 
border: 0;
outline: 0;
background:transparent; 
word-wrap: break-word;
overflow-wrap: break-word;
transition: 0.2s color linear;
}

a:focus { 
outline: 0;
}
a:hover, a:active { outline: none; }

a:focus, a:hover { color:var(--royal-blu); /*#0066CC;*/
text-decoration: underline; 
}

a:visited {color: var(--visitation-blu); /* grey blue #335577;*/
text-decoration: none;
}/* grey blue */

a:active { text-decoration: underline; 
color: var(--redskin); /* #900000, #AC3415; */
}

a.contact {
  color: var(--pumpkin); /*#E6662D;*/
  text-decoration: none;
}

a.contact:hover {
  color: var(--orange-lt); /*#FF9966;*/
  text-decoration: underline;
}

.credit {font-family:var(--bod-ft);
font-weight:400;
font-size:.675em;
line-height:.75em;
}

.credit a {color: var(--blu-moon); /* csw blue #84A4BD;*/
  text-decoration: none;
  transition: 0.2s color linear;
}

.credit a:focus { outline: thin dotted; }

.credit a:focus, a:hover {color: var(--daylight-blu); /*#5FC1F1, #0066CC */
text-decoration: underline; 
}

.credit a:visited {color: hsla(358,84%,30%,1); /*#8C0C10;*/
text-decoration: none;
} /* This might change to var(--visitation-blu) */

a.cutine { color: var(--midnight-blue); /*rgba(0, 68, 119, 0.99); , #3399CC*/
margin: 0 0 .5em 0;
font-family: var(--bod-ft);
font-size: .75em;
line-height: 1.4em;
font-style:italic;
text-decoration: none; }

a.cutine:hover { color: var(--royal-blu); /* Royal blue #0066CC;, #3399CC*/
margin: 0 0 .5em 0;
font-size: .75em;
line-height: 1.4em;
font-style:italic;
text-decoration: underline; }

a.cutine:visited {color: var(--visitation-blu); /*#3399CC;, #0066CC, Royal blue */
margin: 0 0 .5em 0;
font-size: .75em;
line-height: 1.4em;
font-style:italic;
text-decoration: underline;
}

p a, p a:visited { line-height: inherit; }

h2 > a:focus, h2:hover > a { color: var(--royal-blu); /* Royal blue #0066CC;*/
text-decoration: none; 
}

a img, img { border: none; }
a img {display: block;} /* Stops image links getting text link styles */

a.menu {
font-family: var(--head-ft);
font-size:.875em;
font-weight: 300;
line-height : 1.625em;
color: var(--visitation-blu); /*#3090C0;*/
text-decoration: none;
}

a.menu:hover {
  font-family: var(--head-ft);
  color : var(--daylight-blu); /*#5FC1F1;*/
  text-decoration: underline;
  text-decoration-thickness: 10%;
}


/*! Headers */

h1, h2, h3, h4, h5, h6,  blockquote {
  font-family: var(--head-ft), 'Ubuntu variable', "DejaVu Sans", "Seravek", 'source-sans-pro', 'Corbel', 'Gill Sans Nova', "Liberation Sans", 'Nimbus Sans', "Bitstream Vera Sans", Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Verdana Ref", sans-serif;
/*  font-style:italic; */
  color: var(--hdr-brn);/* #8c4103 hsla(27, 96%, 28%, 1)*/;
  font-weight: 400;
  /* letter-spacing: -0.0625em; from prototype 032424 */
}

h1 { font-size: 2em; line-height:1.2em; margin-bottom:0.35em; margin-top:0; }

h2 { font-size:1.75em;line-height:1.5em; margin-bottom:.2em; }

h3 { font-size:1.5em;line-height:1.25em; margin-bottom:.35em; }

h4 { font-size:1.375em;line-height:1.25em; margin-bottom:.35em; }

h5 { margin-top:.5em;
  font-size:1em;line-height:1.25em; margin-bottom:.35em; }

h6 { font-size:1em;line-height:1.25em; margin-bottom:.25em;
  margin-top: 0; }

blockquote {
color: var(--bdy-brn); /* hsla(27, 100%, 7%, 1) */
font-size:1.125em;
font-style:italic;
line-height: 1.375em;
  background:hsla(150, 40%, 70%, .3);
  padding: 0.25em 1% 0.375em 2%;
  border-radius: 0.375em;
margin: 0 0 0.5em 0;
}


/* blockquote-big class for wordpress span to avoid wordpress p in blockquote. add to span element */
.blockquote-big {
  font-family: var(--head-ft), 'Ubuntu variable', Verdana, Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", "Verdana Ref", sans-serif;
  font-style: italic;
  color: var(--bdy-brn);
  font-weight: 800;
  font-size: 1.125em;
  line-height: 1.375em;
  letter-spacing: 0.1em; /* OR 0.0625em*/
  background:hsla(150, 40%, 70%, .3);
  padding: 0.25em 1% 0.375em 2%;
  margin: 1.25em 0 1.375em 0;
  border-radius: 0.375em;
}
/* color: #8C4103; #625550; = color:hsla(15, 10%, 35%, 1); was blockquote color*/

/* This is to fix WordPress p=blockquote bug */
p.blockquote-big { 
  font-weight: 400;
  color: var(--bdy-brn);
  background:hsla(150, 40%, 70%, .3);
}

aside, article, #leftnav, blockquote.big {
  -moz-border-radius: .375em;
  -webkit-border-radius: .375em;
border-radius: .375em;
}

blockquote.big h4 {
  padding:0;
  margin: 0 0 0.125em 0;
  }

blockquote.big p {
  padding:0;
  margin: 0 0 0.5em 0;
  }




/*! = MEDIA / IMG Elements 
---------------------------------------------------- */
img {
border: 0;
margin: 0 auto 0 auto;
background:transparent;vertical-align:baseline;
}

svg:not(:root) {
    overflow: hidden;
}

img { -ms-interpolation-mode: bicubic; }

/* You forgot the 'alt' attribute
img[alt=""],
img:not([alt]) {
  border: 5px dashed hotpink;
} */


/*! IMAGE MODIFIERS */
.border {
	border-style: solid;
	border-color: #DDD;
border-width: 1px;
}

.centered {
display: block;
margin-left: auto; margin-right: auto;
}

.rnd {
border: 0;
border-radius: .5em;
}

.rnd3 {
border: 0;
border-radius: .3em;
}


a img { border:0;}

figure img, figure object, figure embed, figure video {
  max-width: 100%;
  width: 100%;
  height: auto; 
}

svg:not(:root) { overflow:hidden} /* Correct IE9 overflow */

/* example:
img {
  max-width:240px;
  width:100%
} */

figure {
padding:0;
margin:0 0 .5em;
font-size:1rem;
}

figcaption { 
  margin:.125em 0 0.5em; 
  font-size:.8125em; 
  line-height:1em; 
  color: #333333; /* Was: #262626*/
}

figcaption p { 
  margin:0; 
  font-size:1em; 
  line-height:1.25; 
  color: #333333;
  text-align:left;
}

figcaption p:last-of-type { 
  margin:0; 
}

figure.w250 { width:250px;
max-width:250px; 
float:left;
text-align:left;
margin-bottom:1em;
margin-right:1em; 
padding:0;
}

figure.w200 { 
  width:200px;
  max-width:200px; 
  float:left;
  text-align:left;
  margin-bottom:1em;
  padding:0;
  }
  
  figure.w150 { 
  width:150px;
  max-width:150px; 
  float:left;
  text-align:left;
  margin-bottom:1em;
  padding:0;
  }

.w150 a,
.w200 a,  
.w250 a { margin: 0;
}



/*! = LISTS 
---------------------------------------------------- */

ul { list-style:initial;
}

/* eliminate this reset
ol,ul{ list-style:none;}
*/


/*From cwebba Style - see old version note.
This affects top nav.
ul,ol { list-style: none;
line-height:4px;
margin-top:0;
padding: 0 }*/

nav ul{
  list-style:none;
}

nav li{
  display:inline;
}

/* More Stuff:
ul { list-style: inherit;
list-style-type:disc;
list-style-position :outside;
*/

ul.inside li {
  list-style-position: inside;
} /* put list inside */


li ul, li ol {margin:0;}
dl dd {margin-left: 1.5em}

.comment-list,
.comment { 
    list-style: none;
  margin-left:0;
  padding-left:0;
}

ul.example {
    list-style: none;
  line-height:inherit;
    padding:0;
}
 
.example li { 
    padding-left: 1em; 
    text-indent: -.75em;
    margin:0 0 .5em;
}
 
/* » Right-pointing double angle quotation mark &#187; */
.example li:before {
    content: "» ";
    color: #ab3223; /* or whatever color you prefer */
}

ul.dash,
ul.mdash,
ul.bullet,
ul.triangle,
ul.angle
 {
  list-style: none;
   list-style-position: inside;
  font-size:inherit;
  line-height:inherit;
  margin-left:0;
  padding-left:0;
    padding-left: 1.5em; 
    text-indent: -1.5em;
}
 
.dash li,
.mdash li,
.bullet li,
.triangle li,
.angle li { 
  margin:0 0 .5em;
  color: var( --redskin) /*hsla(0 66%, 40%, 1); */
}

.dash li:before {
    content: "\2013\00a0\020";
}

.mdash li:before {
    content: "\2014\020";
}

.bullet li:before {
    content: "\2022\00a0\020";
}

.triangle li:before {
    content: "\2023\00a0\020";
}

.angle li:before {
    content: "\00bb\00a0\020";
}

