/*!  032424 _css3_columns.scss
101621 _css3_columns.scss
_css3_columns.scss 062420 
_css3_columns 032220 
_css3_columns 042019
_css3_columns 072716 */

/*!     - - - - [ CSS3 COLUMNS ] - - - - -  */

.columns01,
.columns2b,
.columns02,
.columns02b,
.columns02c,
.columns02d,
.columns02e,
.columns3,
.columns03b,
.columns03,
.columns04 {
 /*  text-align: top; This is incorrect*/
vertical-align: top;
  column-count: 1;
  column-gap: 1em;
    column-rule: 0;
}

.columns01 p,
.columns2b p,
.columns02 p,
.columns02b p,
.columns02c p,
.columns02d,
.columns02e,
.columns3 p,
.columns03b p,
.columns03 p {
  display: inline-block;
}

.columns02d p:first-of-type,
.columns2b p:first-of-type { margin:0 auto .5em; }
.columns02d p:last-of-type,
.columns2b p:last-of-type { margin:.5em auto 0; }

.columns02d { 
  margin-bottom:0.5em;
 }

/* CSS3 COLUMNS MEDIA QUERIES */
@media only screen and (min-width: 400px) {
.columns02,
.columns02b,
.columns02c {
   column-count: 2;
  }
}

@media screen and (min-width: 560px) {
.columns01 {
  column-count: 2;
  }

.columns03b{
  column-count: 2;
  column-rule: 0;
  }
}

@media only screen and (min-width: 600px) {
  .columns4 {
    column-count: 2;
    column-rule: 0;
  }
}
@media screen and (min-width: 650px) {
.columns2b {
  column-count: 2;
  }
}

@media screen and (min-width: 720px) {
  .columns3 {
    column-count: 2;
  }

.columns02d {
  column-count: 2;
  }
}

@media only screen and (min-width: 760px) {
  .columns03 {
    column-count: 2;
  }
}

@media screen and (min-width: 768px) and (max-width: 920px) {
.columns02 {
    column-count: 3;
  }
}

@media screen and (min-width: 787px), print {
  .columns4 {
    column-count: 3;
    column-rule: 0;
  }
}

@media screen and (min-width:800px) {  
 .columns03b{
    column-count: 3;
    column-rule: 0;
}
.columns02e {
  column-count: 2;
  }
}

@media screen and (min-width: 800px) and (max-width: 920px) { 
  .columns01 {
    column-count: 3;
  }
}

@media screen and (min-width: 920px) {
  .columns01 {
    column-count: 1;
  }
.columns02,
.columns02b {
  column-count: 1;
  }

.columns3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  column-count: 3;
  }
}

@media screen and (min-width: 920px) and (max-width: 1160px) {
.columns2b {
    column-count: 1;
  }
}
@media screen and (min-width: 1200px) {
.columns03 {
  column-count: 3;
  }
}

@media screen and (min-width: 1250px) {
.columns4 {
column-count: 4;
column-rule: 0;
  }
}

