{{!-- includes/side-components-03/tagline.hbs	 --}}
    <!--  SIDEBAR NAVIGATION BEGINS HERE -->
    <section class="tagline">
        <h4>Craig Webb Art</h4>
        <p>Communications that move&nbsp;consumers.</p>
    </section>
