{{!-- pages/services.hbs --}}

{{#> layouts/cwebba-base-03 title="Craig Webb Art / Services" }}

{{#*inline "meta-block" }}
{{> includes/meta
  meta-description="Craig Webb Art provides creative consulting services including content development, website engineering and product development. Our focus is to create your brand presence."
  meta-keywords="Content Development, Digital Design, Front-end Development, Website Engineering, Graphic Design, Copywriting"
  meta-social-content="Craig Webb Art Services"
  meta-url="http://craigwebbart.com/services.html"
  meta-site-name="Craig Webb Art"
  og-image="http://www.craigwebbart.com/assets/images/heropics/wrc06127.jpg"
  og-image-alt="Team Panorama"
}}
{{/inline}}
{{!-- best image 1200x630px, aspect ratio 1.91:1, size less than 1mb --}}

{{!--   The `includes/head` partial is here.  --}}
{{#> head-block}}
{{> includes/head }}
{{/head-block}}

{{!--   The `includes/header` partial is here.  --}}
{{#*inline "rail-block"}}
{{> includes/rail
  rail-src="assets/images/navpics/wave.jpg"
  rail-alt="(917) 797&middot;0983"
}}
{{/inline}}

{{!-- MAIN CONTENT --}}

{{!-- Let's change the hero image for this layout. --}}
{{#*inline "hero-block"}}
{{> includes/hero
  hero-class="herobox"
  hero-src="assets/images/heropics/wrc06127.jpg"
  hero-alt="Historic Football Photograph Hero Picture"
  fig-caption=""
}}
{{/inline}}

{{!-- Let's change the content for this layout. --}}
{{#*inline "content-block"}}


<!-- - - - - - - - [ START Services HERE  ] - - - - - - - - --> 

<h2>Creative Services</h2>
<h4>Communications Development and Digital Design</h4>

<p class="pearl">THIS IS A CHANGE TO THE PAGE</p>
<p class="testoos">This is a 102722 change.</p>
<p><strong>Craig Webb Art</strong> provides communications design including advertising, promotional marketing and brand identity.</p>

<p>Design services include research, creative concept development, copywriting and graphic design for print advertising and web marketing communications.</p>

<div class="cup">

  <div class="twins02">
    <button class="accordion"><h4>Creative Consulting</h4></button>
    <div class="panel">
      <div class="innerpadding1em">
        <h5>Ideation and creative content development</h5>
        <p>Craig Webb Art provides creative ideation, concept and content development services for advertising and business communications.</p>
        <p><ul class="angle">
          <li>Ideation and creative content development</li>
          <li>Product management and production</li>
          <li>Graphic design</li>
          <li>Front-end UX/UI design.</li>
        </ul></p>
      </div>
    </div>

    <button class="accordion"><h4>Content Development</h4></button>
    <div class="panel">
      <div class="innerpadding1em">
        <h5>Business communications and online media</h5>
        <p>Original written content for business communications is a valuable asset.</p>
        <figure class="w200"><a class="fancybox" rel="gallery" href="./assets/images/content/copywriter.png" title="Written content is a portable asset with immediate identifiication."><img class="rnd3" src="assets/images/content/copywriter.png"ALT="Copywriting" /></a>
          <figcaption><p>Memorable content has legs.</p></figcaption>
        </figure>
        <p>Craig Webb Art writes readable copy and grabs attention with compelling, engaging content.</p>
        <p>Researching markets and consumers to discover fresh insights into user needs and desires, content is written for reuse in easy-to-read modular chunks that can be easily assembled into extensible components and ported to various media outlets.</p>
      </div>
    </div>

    <button class="accordion"><h4>Graphic Design</h4></button>
    <div class="panel">
      <div class="innerpadding1em">
        <h5>Illustration and digital design</h5>
        <figure class="w250"><a class="fancybox" rel="gallery" href="./assets/images/content/06_FatFenu.jpg" title="Graphic design creates an immediate, memorable emotional connection."><img class="rnd3" src="assets/images/content/06_FatFenu.jpg"ALT="Fat Fenu healthy heart exercise character" /></a>
          <figcaption><p>Fat Fenu healthy heart exercise character.</p></figcaption>
        </figure>
        <p>Graphic design elements are a dynamic component of communication development. Digital graphics and illustrations create interest, tell a story, convey information, and guide the user journey.</p>
      </div>
    </div>

  </div><!-- class="twins02 -->
  <div class="twins02">
    <button class="accordion"><h4>Advertising</h4></button>
    <div class="panel">
      <div class="innerpadding1em">
        <h5>Print, social and online media</h5>
        <p>Advertising campaigns run on ideas that have legs. Long running campaigns define brands and make them memorable.</p>
        <p>Craig Webb Art conceives fresh concepts to build creative advertising campaigns that can be extended across media including print, social, and Internet media.</p>
      </div>
    </div>

    <button class="accordion"><h4>Information Marketing</h4></button>
    <div class="panel">
      <div class="innerpadding1em">
        <h5>Creative vehicles to convey complex data</h5>
        <p>Creative display of complex data helps the user to consume information, understand issues, grasp and retain essential ideas.</p>
        <p>Synthesized into graphic elements that are intuitively understood, information data can be fast and memorable.</p>
      </div>
    </div>

    <button class="accordion"><h4>Brand Identity</h4></button>
    <div class="panel">
      <div class="innerpadding1em">
        <h5>How you &ldquo;be&rdquo; is who you are</h5>
        <p>Brand Identity extends beyond a business logo to embrace every interaction with consumers and every aspect of how business is conducted.</p>
        <p>Craig Webb Art explores every aspect of your operation to provide insight into ways your culture, design, mission and standards can define and enhance success.</p>
      </div>
    </div>

  </div><!-- class="twins02 -->
</div><!-- END cup -->




<blockquote class="big">Clearly expressing your identity impacts consumer experience and expectations <span class="nowrap">to drive success.</span></blockquote>

<section class="flip=box-container" style="display:block; clear:both;">

<div id="" class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div class="front-art">
  <div class="box-left written-content">
        </div>
  <div class="box-right">
            <h4>Content Development</h4>
            <ul>
                <li>Research</li>
                <li>Copywriting</li>
                <li>Journalism / Interviews</li>
                <li>Website Content</li>
                <li>Ad Concepts</li>
                <li>Technical Writing</li>
            </ul>
  </div>
      </div>
    </div>
    <div class="flip-card-back">
<div>
      <p>Engaging, succinct content written for specific purpose and for repurpose across media</p>
</div>
    </div>
  </div><!-- flip-card-inner -->
</div>

<div id="art" class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div class="front-art">
  <div class="box-left art">
        </div>
  <div class="box-right">
          <h4>Art &amp; Design</h4>
          <ul>
            <li>Art Direction</li>
            <li>Creative Ideation</li>
            <li>Fine Art</li>
            <li>Illustration</li>
            <li>Graphic Design</li>
            <li>Brand Development</li>
          </ul>
  </div>
      </div>
    </div>
  <div class="flip-card-back">
    <div>
      <p>Visual vocabulary, technical expertise, and intuitive design solutions with an emphasis on digital design</p>
    </div>
  </div><!-- flip-card-inner -->
</div>

</section>

<section class="flip=box-container" style="display:block; clear:both;">

<div id="product"  class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div class="front-art">
  <div class="box-left product">
        </div>
  <div class="box-right">
            <h4>Product Development</h4>
            <ul>
                <li>Research</li>
                <li>Brand Strategy</li>
                <li>Content Development</li>
                <li>Information Architecture</li>
            </ul>
  </div>
      </div>
    </div>
    <div class="flip-card-back">
<div>
      <p>Research, strategy and planning to develop an idea and make it marketable</p>
</div>
    </div>
  </div><!-- flip-card-inner -->
</div>
</a>


<div id="front-end" class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div class="front-art">
  <div class="box-left front-end">
        </div>
  <div class="box-right">
          <h4>Front-end Development</h4>
          <ul>
                <li>Custom Front-end Design</li>
                <li>User Experience Design</li>
                <li>User Interface Design </li>
                <li>Websites built around content</li>
          </ul>
  </div>
      </div>
    </div>
  <div class="flip-card-back">
    <div>
      <p>Customized websites with information architecture structured around content to quickly convey benefit and identity</p>
    </div>
  </div><!-- flip-card-inner -->
</div>


</section>

<section class="flip=box-container" style="display:block; clear:both;">


<div id="engineer" class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div class="front-art">
  <div class="box-left web-engineer">
        </div>
  <div class="box-right">
            <h4>Website Engineering</h4>
            <ul>
                <li>Static Websites</li>
                <li>WordPress Themes</li>
                <li>JavaScript</li>
                <li>Design Systems</li>
                <li>Component Design</li>
            </ul>
  </div>
      </div>
    </div>
    <div class="flip-card-back">
<div>
      <p>Custom Design systems and component design built for portability and integration with a variety of technical implementations</p>
</div>
    </div>
  </div><!-- flip-card-inner -->
</div>

<div id="progress" class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div class="front-art">
  <div class="box-left progress">
        </div>
  <div class="box-right">
          <h4>Progressive Enhancement</h4>
          <ul>
                <li>Maintenance</li>
                <li>User Testing</li>
                <li>Analytics and Media</li>
                <li>Custom Content</li>
                <li>Special Initiatives</li>
          </ul>
  </div>
      </div>
    </div>
  <div class="flip-card-back">
    <div>
      <p>Ongoing work to keep your website current with attention paid to the consumer</p>
    </div>
  </div><!-- flip-card-inner -->
</div>
</section>
<!-- END flip-card -->
<section id="skillset">
<hr class="dash" />  
<h3> Core Technologies:</h3>
<p>As a Digital Communications Designer, I am experienced with Client Collaborations, Project Development and Scope, User Experience Research and Design, Information Architecture, User Interface and Front-end Design, Prototype Development, Content Development, Graphic Design, Copywriting, Ad Concepts</p>

<h4>Creative Development:</h4>
<p>Ideation <span class="bigbull">Concept Development</span> <span class="bigbull"></span>Copywriting and Editing <span class="bigbull"></span>Brand Strategy <span class="bigbull"></span>Internet Marketing</p>

<h4>Product Management:</h4>
<p>Planning Documentation <span class="bigbull"></span>Functional Specifications <span class="bigbull"></span>Agile <span class="bigbull"></span>Scrum</p>

<h4>Graphic Design:</h4>
<p>Illustration <span class="bigbull"></span>Adobe PhotoShop &amp; Illustrator <span class="bigbull"></span>InDesign &amp; QuarkXPress <span class="bigbull"></span>Microsoft Word / Excel / PP</p>
<h4>Digital Design and Development:</h4>
<p>HTML <span class="bigbull"></span>CSS <span class="bigbull"></span>CSS for React <span class="bigbull"></span>JavaScript <span class="bigbull"></span>SASS <span class="bigbull"></span>Bootstrap <span class="bigbull"></span>SVG <span class="bigbull"></span>PHP <span class="bigbull"></span>WordPress <span class="bigbull"></span>Gulp <span class="bigbull"></span>Git <span class="bigbull">Handlebars</span> <span class="bigbull"></span>Adaptive, Responsive and Progressive Design</p>
<h4>User Experience Design:</h4>
<p>Website Architecture <span class="bigbull"></span>Design for Mobile <span class="bigbull"></span>Rapid Prototype Development <span class="bigbull"></span>HTML Templates <span class="bigbull"></span>SEO <span class="bigbull"></span>Site-maps <span class="bigbull"></span>Content-Rich User Interface Design <span class="bigbull"></span>Wireframes <span class="bigbull"></span>Storyboarding &amp; Personas <span class="bigbull"></span>Style Guides <span class="bigbull"></span>Flow Diagrams</p>

<h4>Communication:</h4>
<p><span class="bigbull"></span>Slack <span class="bigbull"></span>Trello <span class="bigbull"></span>Google Docs <span class="bigbull"></span>Github <span class="bigbull"></span>Codepen <span class="bigbull"></span>Dropbox Paper</p>
</section>


{{/inline}}

{{!-- The "footer-block" content is here. --}}

{{!--  MODAL FORM BLOCK HERE  --}}

  {{#*inline "js-block"}}
    {{!--  The `includes/js01` partial is the default content, but can be overridden.  --}}
    {{> includes/scripts/js-accordion}}
  {{/inline}}

{{/layouts/cwebba-base-03}}