{{!-- pages/ux-ui-design.hbs --}}

{{#> layouts/cwebba-base-03 title="Craig Webb Art / UX / UI Design" }}

{{#*inline "meta-block" }}
{{> includes/meta
  meta-description="Craig Webb Art user experience research and strategy, and user interface design. User-focused brainstorming, product management and competitive research to guide clients through the web development process."
  meta-kewords="Product development, User research, business objectives, market research, front-end design"
    meta-social-content="User research provides an essential foundation for design strategy. Craig Webb Art user experience research and strategy, and user interface design. User-focused brainstorming, product management and competitive research to guide clients through the web development process."
  meta-url="https://www.craigwebbart.com/ux-ui-design.html"
  meta-site-name="Craig Webb Art"
  og-image=""
  og-image-alt=""
}}
{{/inline}}
{{!-- best image 1200x630px, aspect ratio 1.91:1, size less than 1mb --}}

  {{!--   The `includes/head` partial is here.  --}}
  {{#> head-block}}
        {{> includes/head }}
  {{/head-block}}

        <style>

        </style>

  {{!--   The `includes/header` partial is here.  --}}
  {{#*inline "rail-block"}}
    {{> includes/rail
      rail-src="assets/images/navpics/wave.jpg"
      rail-alt="(917) 797&middot;0983"
    }}
  {{/inline}}

    {{!-- MAIN CONTENT --}}

    {{!-- Let's change the hero image for this layout. --}}
  {{#*inline "hero-block"}}
    {{> includes/hero 
      hero-class="mast"     
      hero-src="assets/images/heropics/NASA_Lunar-Panorama.jpg"
      hero-alt="Lunar Panorama, NASA"
      fig-caption="Lunar Panorama, NASA"
    }}
  {{/inline}}

    {{!-- Let's change the content for this layout. --}}
   {{#*inline "content-block"}}

<!-- - - - - - - - [ START UX / UI Design HERE  ] - - - - - - - - --> 


<h2><a href="#ux">User Experience Research</a> / <a href="#ui">User Interface Design</a></h2><br>
<h3 id="ux">User experience research, strategy and process</h3>

<section class="columns02e">
<p>User experience strategic research (UX) seeks solutions to business objectives and consumer needs.</p>

<p>User experience is a global term that includes many tasks to achieve a primary goal. UX tasks include user research, content, information architecture, interaction design, and usability testing.</p>

<p>A UX researcher works to reveal what the target user needs from the product and brand.</p>
</section>
<hr class="dash" />

<h4>User Experience Strategic Thinking</h4>
<section class="columns02e">

<p>UX strategy translates the business purpose into a clear action plan and seamless solution by discovering unique user motivations.</p>

<p>Like product design, UX strategy starts with executive intent. What problem does the business intend to solve and for who? UX research reveals what the market may or may not need. Before investing resources into a product or service it is important to know if the need exists.</p>

<p>The user experience strategy merges the business vision with user needs.  The user experience team sustains the product vision through design and development. Strategic follow-through continues through production, product release, and marketing.</p>

<p><strong>User experience professionals care about:</strong><br>
<span class="bigbull"> The end-to-end experience<br>
<span class="bigbull"> Thinking about the bigger thing<br>
<span class="bigbull"> Life-time relationships with customers<br>
<span class="bigbull"> Getting customer loyalty and brand enthusiasm<br>
</p><br>
</section>
<hr class="dash" />

<h4>User Experience Research is essential to product success</h4>
<section class="columns02e">
<p>User research provides an essential foundation for design strategy. Looking into how people think and act helps to create an optimal product. UX strategists find ways to add value by testing hypotheses and conducting user research.</p>

<p>The research process helps to find users and early adopters who would use the product. Contextual data helps to understand user needs and confirm strategic and design decisions. Valuable product feedback is critical to launching a first version of a product. </p>

<p>During the process of research, testing, and validation, requirements will change. A process to track shifting requirements will capture, organize, rank, and manage new requirements as they change.</p>

<p>One goal of UX is to delay expensive and time-consuming work before validation. It is important to stay focused and avoid mistakes before coding and production.</p>

<p>Testing continues as the product moves from strategy, content development, design and development.</p>

<p><strong>User experience professionals:</strong><br>
<span class="bigbull"> Validate the problem<br>
<span class="bigbull"> Validate the market<br>
<span class="bigbull"> Validate the product<br>
<span class="bigbull"> Validate consumer buy-in / willingness to pay</p>

<p>UX testers identify and document defects and report them to the team for correction. After corrections, testers retest individual components and see if changes fit the vision context.</p>

<p>The final phase in project development is acceptance testing. Acceptance testing ensures that the defined business and user requirements are met.</p>
</section>
<hr class="dash" />

<h4>Writing for user experience and interface design</h4>
<section class="columns02e">

<p>There are many elements of a user interface that communicate with the user. Text is an essential tool to communicate.</p>

<p>User Experience writing is the method of writing text that users interact with. </p>

<p>An UX writer or Information Architect organizes content and determines where it goes. Researchers test results with users to see how they react and complete tasks.</p>

<p>Good writing creates brand identification, loyalty and joy.</p>
</section>
<hr class="dash" /><br>

<h3 id="ui">User Interface Design</h3>
<section class="columns02e">

<p>User interface design is a specialty to build components and interactions that help the user complete tasks. User Interface Designers work with cross-functional teams including engineers, designers, and product management.</p>

<p>UI Designers create layouts that ensure users can complete tasks without making errors. A good user interface stays out of the way so that users easily complete intended tasks.</p>

<p>Good Interface Design makes navigation and learning easy, decreasing the product learning curve.</p>

<p>Good Interface Design supports the brand ethos, and causes users to trust and embrace the product or service.</p>

<p>Often companies combine user research and interface design into one UX/UI designer role. An UX/UI designer role may be responsible for any combination of activities.</p>
<p><strong>An UX/UI designer role may include:</strong><br>
<span class="bigbull"> User research<br>
<span class="bigbull"> Interaction design<br>
<span class="bigbull"> Information architecture<br>
<span class="bigbull"> Visual design<br>
<span class="bigbull"> Front-end development<br>
<span class="bigbull"> Avoiding technical debt</p>
</section>
<br>
<hr class="dash" />  

<blockquote class="big" style="margin-top:0.5em;">If you are interested in starting a project please contact me. We can talk by phone or zoom.</blockquote>
<br>

  {{/inline}}


 {{!-- The "footer-block" content is here. --}}

{{!--  MODAL FORM BLOCK HERE  --}}

    {{#*inline "js-block"}}
    {{> includes/scripts/lightbox-plus-jquery }}
    {{/inline}}

{{/layouts/cwebba-base-03}}