{{!-- pages/written-content.hbs --}}

{{#> layouts/cwebba-base-03 title="Craig Webb Art / Written Content" }}

{{#*inline "meta-block" }}
{{> includes/meta
  meta-description="Craig Webb writes original content for clients, optimized for natural search, that is easy to read and compelling."
  meta-kewords="Copywriting, content development, research, search optimization, concise copywriting, compelling reading, brand development, new business, big ideas"
  meta-social-content="Craig Webb writes original content for clients, optimized for natural search, that is easy to read and compelling."
  meta-url="http://www.craigwebbart.com/written-content.html"
  meta-site-name="Craig Webb Art"
  og-image="http://www.craigwebbart.com/assets/images/copywriting_portfolio/craigs_mdads.jpg"
  og-image-alt="Craig Webb with Max Delivery wild posters"
}}
{{/inline}}
{{!-- best image 1200x630px, aspect ratio 1.91:1, size less than 1mb --}}

  {{!--   The `includes/head` partial is here.  --}}
  {{#> head-block}}
        {{> includes/head }}
  {{/head-block}}


  {{!--   The `includes/header` partial is here.  --}}
  {{#*inline "rail-block"}}
    {{> includes/rail
      rail-src="assets/images/navpics/wave.jpg"
      rail-alt="(917) 797&middot;0983"
    }}
  {{/inline}}

    {{!-- MAIN CONTENT --}}

    {{!-- Let's change the hero image for this layout. --}}
  {{#*inline "hero-block"}}
    {{> includes/hero
      hero-class="herobox"
      hero-src="assets/images/heropics/Lotus_Sutra_Jo-Bon_no1_Hokke-kyo_17th-18th_century.jpg"
      hero-alt="Lotus Sutra, Jo-Bon no.1 (Hokke-kyō), 17th-18th century"
      fig-caption="Lotus Sutra, Jo-Bon no.1 (Hokke-kyō), 17th-18th century"
    }}
  {{/inline}}

    {{!-- Let's change the content for this layout. --}}
   {{#*inline "content-block"}}
  <h2>Written Content</h2>
<h4>Concept and Content Development</h4>

<div class="flexbox-wrapper">
<div class="bitty-titty-block bdr">
<figure><img src="assets/images/copywriting_portfolio/Solar-Carport.jpg" alt="Silver Fox Website">
<figcaption><p>Silver Fox Renewables LLC commercial project, Solar Carport.</p></figcaption>
</figure>
<div>
<h4><a href="http://silverfoxrenewables.com/" target="_blank" rel=”noopener”>Silver Fox Renewables LLC</a></h4>
<p>Silver Fox Renewables LLC designs, installs and maintains high quality solar-powered energy generation systems.</p>
<p>Customers range from residential customers, electric carport servicing stations, to businesses, industries and municipalities.</p>
<p>Craig Webb worked with Silver Fox Renewables LLC to write clear content to describe their products and services, and to populate the website.</p>
</div>
</div>

<div class="sexy-block columns2b bdr">
<h3 style="column-span: all;">Website Content</h3>
<p>There usually isn&rsquo;t much point in having a website without written content.</p>

<p>Clients often ask me to write content for their website along with designing graphics and creating the website.</p>

<p>Website content is what attracts customers who are searching on the Internet and provides the information consumers need once they get there. Well-written content sells the service or product to the consumer.</p>

<p>Content creation happens by a combination of conducting marketing research and working with the client to interview and garner their message.</p>

<p>Most business executives can describe their business but many successful men cannot write.</p>

<p>Writing website content is a specialized skill. Information must be concise and organized to be read. Content must be relevant.</p>

<p>Equally important is to write with phrasing that people use to search for products when browsing the Internet.</p>

<p>Research is necessary to discover the searchable phrases that consumers use to search for goods and services.</p>

<p>The specialized language of business may include adopting aficionado&rsquo;s lingo, using business jargon and paying attention to marketing paradigms.</p>

<p>Consumers want clear sentences that get to the point quickly.</p>

<p>Once a body of content is developed, it is edited to cut the verbiage. Content is valuable and can be repurposed to flow into all sorts of media.</p>

<p>Call to get content to grow your business.</p>
</div>


<div class="sexy-block-720 bdr">
<h3><a href="http://blog.craigwebbart.com/2020/11/16/ownership-showing-up-and-producing-the-result/">Ownership, showing up, and producing the result</a></h3>

<figure class="clipped-vertical-image"><img src="assets/images/copywriting_portfolio/A-fine-young-man.png" alt="Calvin, Calvin and Hobbs cartoon. Dad teaches Calvin character skills.">
<figcaption><p>Building character doesn’t kill.</p></figcaption>
</figure>
<p>Volunteering gives me an opportunity to gain insight into my character and grow as a man.</p>

<p>Each opportunity is temporal and growth is halting but I provide myself small chances to change my character when working as part of a team.</p>

<p>Recently I applied to volunteer and join the Production team. My tribe-mate applied for the Packing-Day team.</p>

<p>Previously our tiny tribe, which is dispersed across states, discussed the possibility of us all coming together for packing day so we could meet face-to-face. I fielded the idea of coming to visit the Packing Day Team and bringing up some snack or something.</p>

<p><a href="http://blog.craigwebbart.com/2020/11/16/ownership-showing-up-and-producing-the-result/">Read more . . .</a></p>
</div>


<div class="bitty-titty-block bdr">
<figure><img src="assets/images/copywriting_portfolio/ip_purple_heart_sunset.jpg" alt="Purple Heart Museum at sunset">
<figcaption><p>Purple Heart Museum at sunset<br>
Designed by Einhorn Yaffee Prescott Architecture &amp; Engineering P.C.</p></figcaption>
</figure>
<div>
<h3><a href="http://www.craigwebbart.com/bm/"target="_blank" rel=”noopener”>Bill Miller Photography</a></h3>
<p>NYC-based Real Estate photographer Bill Miller Photography needed a new website portfolio including new marketing copy to build SEO and differentiate his services within search-space.</p>

<p>Craig Webb wrote copy for Bill Miller Photography to enhance search optimization and provide a counterpoint for Bill Miller&rsquo;s beautiful photography.</p>
</div>
</div>

<div class="bitty-titty-block bdr ">
<figure><img src="assets/images/copywriting_portfolio/LHSCenter_Instruction_z.jpg" alt="Jennifer Wade teaches group at at Langston Hughes Senior Center.">
<figcaption><p>Teaching Artist Jennifer Wade provides sculpting instruction to an inter-generational group at Langston Hughes Senior Center.</p></figcaption>
</figure>
<div>
<h3><a href="http://www.muralmuralonthewalls.com/" target="_blank" rel=”noopener”>Mural Mural on the Walls</a></h3>
<p>Craig Webb Art wrote copy to highlight Mural Mural on the Wall&rsquo;s art education services and community development projects.</p>

<p>Craig Webb Art worked with the client to research requirements from funding agencies and proposed a website architecture to promote Mural Mural on the Walls&rsquo; art education program including an overview, photographs of community projects, and a media page.</p>
</div>
</div>


<div class="big-block bdr ">
<figure><img src="assets/images/copywriting_portfolio/tosca_marquee01.jpg" alt="Decorative interior balcony ironwork.">
<figcaption><p>Icarus Group Ironwork</p></figcaption>
</figure>
<div>
<h3><a href="https://www.icarusgroupironwork.com/" target="_blank" rel=”noopener”>Icarus Group Ironwork</a></h3>
<p>Icarus Group Ironwork provides ornamental Ironwork, Steel Fabrication and Welding Services in the New York City region.</p>

<p>Craig Webb wrote website content for Icarus Group Ironwork&rsquo;s target markets including architects, business, and homeowners. Content describing services features a wide range of products.</p>

<p>Brief paragraphs, jam-packed with product-oriented search phrases, is carefully edited to ensure that content is easy to absorb and sounds natural.</p>

<blockquote>Icarus Group Ironwork enjoys first-page placement on Google’s search engine for &ldquo;iron work new york&rdquo;.</blockquote>
</div>
</div>

<div class="bitty-titty-block bdr ">
<figure><img src="assets/images/copywriting_portfolio/caredashboard2.png" alt="Care dash board">
<figcaption><p>HandOffLabs.com</p></figcaption>
</figure>
<div>
<h3>xVenturesGroup, LLC &ensp; <a href="http://carehandoff.com/" target="_blank" rel=”noopener”>Carehandoff.com</a></h3>
<p>xVenturesGroup is a health-care marketing agency engaged in web application development.</p>

<p>Contributing creative ideas with daily talks, Craig Webb helped to explore the potential market for a new healthcare related consumer-to-business app.</p>

<p>Craig built storyboards for a marketing video, created graphics and presentation materials, UX wireframes, and personas.</p>

<p>Craig planned the website architecture for HandOffLabs.com and wrote original content for the website that became CareHandOff.com.</p>

<p>Craig Webb conducted an early QA study of the CareHandOff app and wrote a User Experience Technical Study to recommend style and function changes, and outline flaws and fixes for improvement.</p>
</div>
</div>

<div class="sexy-block-720 bdr ">
<figure class="clipped-vertical-image"><img src="assets/images/copywriting_portfolio/Summer_Taylor.jpg" alt="Summer Taylor">
<figcaption><p>Summer Taylor.</p></figcaption>
</figure>
<div>
<h3><a href="http://blog.craigwebbart.com/2020/10/13/the-girl-with-the-pink-hair/" target="_blank" rel="noopener">The girl with the pink hair</a></h3>
<p>A tragic event happened this summer in Seattle during the Black Lives Matter protests that I keep thinking about; what I came to see, and what I learned about myself and my relationship with racism.</p>

<p>The Black Femme March against racism and police violence, a festive, peaceful protest for BLM was followed by a drive-by hit and run that killed one person and badly injured another.</p>

<p>The person who was killed was a 24-year-old named Summer Taylor. The injured person was Diaz Love, a 32-year-old from Portland, Oregon.</p>

<p>I saw Summer Taylor&rsquo;s photo on Twitter after the event and at first I only knew them as &ldquo;The girl with the pink hair&rdquo;.</p>

<p>I have since learned that Summer Taylor used non-binary they/them pronouns. 24-year-old Summer Taylor with the pink hair worked at the Urban Animal veterinarian clinic by day and was an activist by night, participating regularly in the Black Lives Protests, which had continued daily for months, and still continue to this day.</p>

<p>Reading about the protest and Summer Taylor’s death the following morning on Twitter, I came upon a video of people participating in the protest before the car incident.</p>

<p><a href="http://blog.craigwebbart.com/2020/10/13/the-girl-with-the-pink-hair/">Read more . . .</a></p>
</div>
</div>

<div class="bitty-titty-block bdr">
<figure><img src="assets/images/copywriting_portfolio/Randalls_600.jpg" alt="Randall&rsquo;s Auto Body, Southampton, NY">
<figcaption><p>Randall&rsquo;s Auto Body Repair, Southampton, NY</p></figcaption>
</figure>
<div>
<h3><a href="http://randallsautobodyny.com" target="_blank" rel="noopener">RandallsAutoBodyNY.com</a></h3>
<p>Craig Webb researched auto body repair and classic car restoration services to write search-optimized product copy for Randall&rsquo;s Auto Body in Southampton NY. Randall&rsquo;s services include auto body painting, auto collision repair, classic car restoration services, and auto detailing.</p>
<p>Craig Webb wrote content to highlight Randall’s specialized Waxoyl rust-prevention and Vortex truck bed painting products.</p>
<blockquote>Randall&rsquo;s Auto Body website enjoys first-page placement on Google&rsquo;s search engine for &ldquo;<a href="http://www.google.com/search?hl=en&safe=off&q=vortex+truck+bed+liner&btnG=Search&aq=f&aqi=g1&aql=&oq=" target="_blank" rel="noopener">vortex truck bed liner</a>&rdquo;, on second page of Google for &ldquo;<a href="http://www.google.com/search?q=waxoyl&hl=en&safe=off&prmd=ivns&ei=V_5UTsr5GKrc0QHA04i8Ag&start=10&sa=N" target="_blank" rel="noopener">waxoyl</a>&rdquo;, and on Google&rsquo;s first page for &ldquo;<a href="http://www.google.com/search?hl=en&safe=off&q=waxoyl+new+york&aq=f&aqi=&aql=&oq=" target="_blank" rel="noopener">waxoyl new york</a>&rdquo;.</blockquote>
</div>
</div>


<div class="big-block">
<figure><img src="assets/images/copywriting_portfolio/kremers_store_shelves.jpg" alt="Kremer&rsquo;s store shelves">
<figcaption><p>Kremer&rsquo;s store shelves</p></figcaption>
</figure>
<div>
<h3>The Kremer&rsquo;s Pigments experience</h3>

<p>Last week I had an appointment in Manhattan and I used this appointment as an excuse to buy art toys and visit Blick&rsquo;s Art Supply and Kremer&rsquo;s Pigments.</p>
<p>This year of pandemic I have made three journeys into Manhattan to buy art supplies. Most stores were closed in the first few months but in July the art supply stores began to open. I called ahead and mapped out a journey from SoHo to Herald Square.</p>
<p>I have used my pandemic quarantine time to paint and draw. The media I work with are sumi ink, pencil drawing and egg tempera. Each has their place in my expression. Egg tempera is special for the chemistry of it and the vibrancy of color.</p>
<p>Read more . . .</p>
</div>
</div>

<div class="bitty-titty-block">
<div>
<h3><a href="https://www.maxdelivery.com/nkz/exec/HomePage/Init/Display" target="_blank" rel="noopener">MaxDelivery</a></h3>
<p>Craig Webb created a new-business launch campaign for MaxDelivery, a web-based grocery delivery service in SoHo New York.</p>

<p>Creative included writing headline copy, branding and design for newspaper and outdoor advertising including &ldquo;wild posters&rdquo; and telephone booth kiosk ads.</p><br>
</div>
<figure><img src="assets/images/copywriting_portfolio/craigs_mdads.jpg" alt="Creative Copywriting ">
<figcaption><p>Delivered Lickity-click</p></figcaption>
</figure>
</div>

<div class="big-block">
<figure><img src="assets/images/copywriting_portfolio/Mighty_Map_Landing_Pg.jpg" alt="Mighty Map landing page">
<figcaption><p>Mighty Map landing page</p></figcaption>
</figure>
<div>
<h3>Mighty Map</h3>

<p>Craig Webb created a new-business launch campaign for MaxDelivery, a web-based grocery delivery service in SoHo New York. <a href="maxdelivery.htm" target="_blank" rel="noopener">Creative</a> included writing headline copy, branding and design for newspaper and outdoor advertising including &ldquo;wild posters&rdquo; and telephone booth kiosk ads.</p><br/>
</div>
</div>
 
<div class="sexy-block bdr" style="display:flex; text-align:top;">
<figure style="width:100% max-width:calc(50% - 1em); text-align:top; margin-right:1em;"><img src="assets/images/copywriting_portfolio/Zabars_Bread2.jpg" alt="Zabars Bread">
<figcaption><p>Zabars Bread</p></figcaption>
</figure>
 <div>
<h3>Zabars</h3>
<p>I created advertising for Zabars for the New York Times Food Section on Wednesdays.</p>
<p>Zabars would tell me which product to feature each week.</p> 
<p>I would come up with two or three ideas to pitch and they would choose.</p>
<p>I wrote headlines and body copy and often created the art as well.</p>
  </div>
</div>

<div class="bitty-block">
<figure><img src="assets/images/copywriting_portfolio/WMI_BoatsLogo4L_F90.jpg" alt="Windowman BOATS logo">
<figcaption><p>Windowman BOATS logo</p></figcaption>
</figure>
<div>
<h3>Windowman</h3>
<p>Craig Webb wrote copy for Windowman Inc. (USA), an engineering firm that serves the institutional healthcare industry.</p>

<p>Craig Webb collaborated with the company president to convey complex technical information and co-write a comprehensive dissertation on door safety for publication by the American Society for Healthcare Engineering (ASHE). Additional communications developed include an investment prospectus, contracts and marketing copy directed at investors, clients and engineers.</p><br/>
</div>
</div>

<div class="bitty-titty-block">
<figure><img src="assets/images/copywriting_portfolio/safe_sex.png" alt="Honda Accord &ndash; Safe Sex">
<figcaption><p>Honda Accord - Safe Sex</p></figcaption>
</figure>
<div>
<h3>Honda Accord</h3>
<p>For a number of years I invented ads for my portfolio. The Honda Accord was a fantasy client for whom I created a couple of ad campaigns. One campaign was titled "Safe Sex", and I created a number of ads in the series.</p>

<p>I also created a &ldquo;leave Behind Book&rdquo;, to show how I would blow out the campaign with live events, tie-ins and premium gifts, and Internet advertising.</p>

<p>A second campaign was called &ldquo;Rorschach Test&rdquo;, featuring the therapeutic benefits of owning the Honda Accord</p>
</div>
</div>

<div class="bitty-titty-block bdr">
<figure><img src="assets/images/copywriting_portfolio/JDM_Insurance_600.jpg" alt="Jim D. Miller Insurance">
<figcaption><p>Jim D. Miller Insurance, LLC</p></figcaption>
</figure>
<div>
<h3>JDM Insurance</h3>
<p>Craig Webb wrote website content for Jim D. Miller Insurance, LLC, an independent insurance broker in New Jersey. Craig Webb wrote marketing copy for each page and created a Glossary and FAQ designed to enhance SEO.</p>
<br>
</div>
</div>

<div class="bitty-titty-block bdr">
<figure style="max-width:300px;"><img src="assets/images/copywriting_portfolio/fuckit_and_run.jpg" alt="Out The Back Door">
<figcaption><p>Out the back door and run</p></figcaption>
</figure>
<div>
<h3><a href="http://blog.craigwebbart.com/2020/11/16/come-through-the-front-door/">Come through the front door</a></h3>
<p>There is a phrase you may have heard, &ldquo;Close your back doors&rdquo;. It relates to a parable about commitment versus addiction.</p>

<p>The story goes something like this: A man is on his couch drinking beers and watching the football game when a knock comes on the front door. The man peeks through the curtain and sees some cops outside, plus a firetruck, a T.V. and news truck.</p>
<p>Read more . . .</p>
</div>
</div>

<div class="big-block bdr">
<figure><img src="assets/images/copywriting_portfolio/Reutersmedia_NYC_Photos_04.jpeg" alt="New York City Doctors wheel bodies on gurneys, bringing the dead to storage">
<figcaption><p>New York City Doctors wheel bodies on gurneys, bringing the dead to storage. Credit: Reuters media</p></figcaption>
</figure>
<div>
<h4><a href="http://blog.craigwebbart.com/2020/04/30/the-month-of-april/">The month of April</a></h4>
<p>I am thinking this morning about the month of April 2020.</p>
<p>This month some 50,000 American people have died of Coronavirus Covid-19. That is more people than the quantity of American men and women who died in the Vietnam War – a statistic.</p>
<p>Read more . . .</p>
</div>
</div>

<div class="bitty-titty-block bdr">
<figure><img src="assets/images/copywriting_portfolio/helping-hands.png" alt="Helping Hands for the Disabled of NYC website">
<figcaption><p>Helping Hands for the Disabled of NYC</p></figcaption>
</figure>
<div>
<h3><a href="https://www.hhdnyc.org/" target="_blank" rel="noopener">HHDNYC.org</a></h3>
<p>Craig Webb wrote copy for Helping Hands for the Disabled of NYC to describe their social events, transportation and emergency services for members of the disabled community.</p>
<p>Projects included writing for and maintaining the CMS website as well as articles for a monthly newsletter.</p>
</div>
</div>
 </div>

  {{/inline}}



 {{!-- The "footer-block" content is here. --}}

{{!--  MODAL FORM BLOCK HERE  --}}


    {{#*inline "js-block"}}
    {{> includes/scripts/lightbox-plus-jquery}}
    {{/inline}}


{{/layouts/cwebba-base-03}}