{{!-- includes/side-components-03/creative-development-nav.hbs --}}
{{!-- Left Sidebar Top Links --}}
<section class="side-services" style="border:1px solid red;">{{!-- Renamed. WAS: wide-move --}}
<h4>Craig Webb Art</h4>
<p>Communications that&nbsp;move consumers.</p>
<nav><ul class="side-nav-serv" style="border:1px solid pink;">
	<h4>Creative Consulting</h4>
	<li><div><a href="content-development.html">Content Development</a></div></li>
	<li><div><a href="advertising-and-marketing.html">Advertising &amp; Marketing</a></div></li>
</ul>
</nav>
<nav><ul class="side-nav-serv" style="border:1px solid pink;">
	<h4>Front-end Development</h4>

	<li><div><a class="contact"  href="product-design.html">Product Design</a></li>
	<li><div><a class="contact"  href="ux-ui-design.html">UX / UI Design</a></li>
	<li><div><a class="contact"  href="information-architecture.html">Information Architecture</a></li>
	<li><div><a class="contact"  href="comps-and-wireframes.html">Comps and Wireframes</a></li>
	<li><div><a class="contact"  href="live-prototypes.html">Live Prototypes</a></li>
	<li><div><a class="contact"  href="interaction-design.html">Interaction Design</a></li>
</ul><nav>

</section><!-- END wide-move -->