{{!-- includes/side-components/sid-development.hbs --}}
{{!-- Development Menu --}}
	<section class="menu-wrap">
        <nav class="development">
            <h4>Front-end Development</h4>
			<ul>
            
				<li><div><a href="product-design.html">Product Design</a></li>
            	<li><div><a href="ux-ui-design.html">UX / UI Design</a></li>
            	<li><div><a href="information-architecture.html">Information Architecture</a></li>
            	<li><div><a href="comps-and-wireframes.html">Comps and Wireframes</a></li>
            	<li><div><a href="live-prototypes.html">Live Prototypes</a></li>
<!--            	<li><div><a href="interaction-design.html">Interaction Design</a></li>	-->
            </ul>
		<nav>
	</section>
