{{!-- includes/side-components/sid-service-menu-02.hbs --}}
{{!-- Side Services, Services Menu --}}
<div class="sid-service-menu">
<aside class="services">
<header class="rice">
<h5 class="no-margin"><strong>Front-end Development:</strong></h5>
</header>
<div class="colcontain">
<div class="columns02b sidnavcol gra-gradi">
<ul class="list-archives">
<li><a href="product-design.html">Product Design</a></li>
<li><a href="ux-ui-design.html">UX / UI Design</a></li>
<li><a href="information-architecture.html">Information Architecture</a></li>
</ul>
</div>

<div class="columns02b sidnavcol gra-gradi">
<ul class="list-archives">
<li><a href="comps-and-wireframes.html">Comps and Wireframes</a></li>
<li><a href="live-prototypes.html">Live Prototypes</a></li>
<li><a href="interaction-design.html">Interaction Design</a></li>
</ul></div>
</div><!-- END colcontain -->
</aside>
</div><!-- END sid-service-menu -->
