{{!-- includes/side-components-03/sid-creative.hbs --}}
{{!-- Left Sidebar Top Links --}}
	<section class="menu-wrap">
		<div class="me-menu-pic">
  			<img src="assets/images/menu_buttons/egg-apolloprofile_100x120.jpg" width="100" height="120" alt ="Apollo Art">
  		</div>
        <nav class="creative">
            <h4>Creative Consulting</h4>
			<ul>
            	<li><div><a href="content-and-design.html">Content and Design</a></div></li>
            	<li><div><a href="advertising-and-marketing.html">Advertising and Marketing</a></div></li>
            	<li><div><a href="art.html">Fine Art</a></div></li>
            </ul>
        </nav>
	</section>
