{{!-- includes/side-components/wide-services-me-menu-02.hbs --}}
{{!-- Wide Services, Me Menu --}}
<aside class="wide-services">
<section class="side-services">
<div class="me-menu-pic">
	<img src="assets/images/menu_buttons/egg-apolloprofile_100x120.jpg" width="100" height="120" alt ="Apollo Art"></div>
<h4>Front-end Development</h4>
<nav><ul class="side-nav-serv">

<li><div><a class="contact"  href="product-design.html">Product Design</a></li>
<li><div><a class="contact"  href="ux-ui-design.html">UX / UI Design</a></li>
<li><div><a class="contact"  href="information-architecture.html">Information Architecture</a></li>
<li><div><a class="contact"  href="comps-and-wireframes.html">Comps and Wireframes</a></li>
<li><div><a class="contact"  href="live-prototypes.html">Live Prototypes</a></li>
<li><div><a class="contact"  href="interaction-design.html">Interaction Design</a></li>
</ul><nav>
</section><!-- end of me-menu -->
</aside>
